<h1>Create a new artist:</h1>

<form action="/artists" method="POST">
  <label for="s_name">Name:</label>
  <br>
  <input type="text" name="artist[name]" id="s_name">
  <br>
  <label for="s_age">Age:</label>
  <br>
  <input type="number" name="artist[age]" id="s_age">
  <br>
  <label for="s_bio">Bio:</label>
  <br>
  <input type="text" name="artist[bio]" id="s_bio">
  <br>
  <input type="submit" name="submit" value="Submit">

</form>
